body {
    font-family: "Public Sans", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 47px;
    margin-bottom: 100px;
}

.logo h1 {
    font-size: 40px;
    font-weight: 800;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.menu a {
    font-size: 40px;
    font-weight: 400;
    padding: 17px 38px;
}

.menu a:hover {
    color: #ffffff;
    background-color: #5BC241;
}

.menu a.btn {
    padding: 15px;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    background-color: #5BC241;
    border-radius: 10px;
}